body{
    background-color: aliceblue;
    border: 2px solid black;
    margin: 70px 120px 50px 70px;
 
}

h1{
    text-shadow: 1px 1px 0 #444;
    text-align: center;
    animation-direction: left;
}

h2, li{
    line-height: 160%;
}